:root{
    --tranYellow:#ffdd0063;
    --slate: #beceff;
}



.experience{
    color:var(--fontColor);
    overflow-x:hidden;
    
}

@media only screen and (max-width: 980px){

    .container{
        width:100%!important;
    }
}
@media only screen and (max-width: 650px){
    .container{
        min-height:500px ;
    }
    .title h1{
        margin-left:20px;
    }
}



.title h1{
    
    font-size:40px;
    display:inline-block;
    color:var(--yellow);
    margin-bottom:50px;
}
    .title::after{
        content:"";
        width:calc(100% - 500px);
        max-width:350px;
        height:1px;
        background-color:var(--yellow);
        display:inline-block;


        margin-bottom:8px;
        margin-left:20px;
    }



.container{
    position:absolute;
    justify-content: center;
    top:55%;
    left:60%;
    transform:translate(-50%,-50%);

    width:100%;
    max-width:800px;


    z-index:-1;

    animation: aboutload .5s;
        animation-fill-mode:forwards !important;
}



.technologies{
    list-style:none;
    width:50%;
    margin-left:15px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 300px));
}
.technologies li{
    padding-bottom:10px;
}
.technologies li::before {
    content: "\25AA";
    color: var(--yellow);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
